<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSave(f)" #f="ngForm" ngNativeValidate>
        <div class="form-group">
            <label for="content">Content</label>
            <!-- for using local reference we will add #any_name to input and access it with any_name.value   ?. means only if not null-->
            <input type="text" id="content" class="form-control" name="content" [ngModel]="message?.content" required>
        </div>
        <button class="btn btn-danger" type="button" (click)="onClear(f)" >Clear</button>
        <button class="btn btn-primary" type="submit" >Save</button>
    </form>
</div>